<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVCProject</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVCProject.styles.css" asp-append-version="true" />
</head>
<body>

    <div class="sidebar">
        <div class="logo-style">
        <img src="~/Images/Logo.jpg"/>
        <h3>alpha</h3>
        </div>

        <div class="project-sidebar-style">
            <img src="~/Images/Projects.jpg" class="sidebar-img-icon" />
        <a href="@Url.Action("Index", "Project")">Projects</a>
        </div>

    </div>

    <div class="navbar">
        <div class="user-profile">

            <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="~/Images/Setting.jpg" />
                </button>
  <ul class="dropdown-menu">
                    <li>
                        <img src="~/Images/Avatar.jpg" />
                    </li>
    <li></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>




            <img src="~/Images/Avatar.jpg"/>


        </div>
    </div>


    <!-- Main Content -->
    <div class="main-content">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
